@model IEnumerable<BaseModels.Desenvolvedora>

@{
    ViewBag.Title = "Desenvolvedoras";
}

<h2>@ViewBag.Title</h2>
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Feito!</strong> @TempData["Mensagem"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DesenvolvedoraID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.DesenvolvedoraID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.DesenvolvedoraID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Criar nova", "Create",null,new { @class="btn btn-primary"})
</p>