@model IEnumerable<BaseModels.Projeto>

@{
    ViewBag.Title = "Projetos";
}

<h2>@ViewBag.Title</h2>
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Feito!</strong> @TempData["Mensagem"]
    </div>
}

<table class="table">
    <tr>
        <th>
            Desenvolvedora
        </th>
        <th>
            Jogo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lancamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Desenvolvedora.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Jogo.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lancamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProjetoID }) |
            @Html.ActionLink("Detailhes", "Details", new { id=item.ProjetoID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ProjetoID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Criar novo", "Create",null,new { @class="btn btn-primary"})
</p>